<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>修改用户密码</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="/static/user/css/iconfont/iconfont.css" rel="stylesheet"/>
    <link href="/static/user/css/common.css" rel="stylesheet"/>
    <link href="/static/user/css/login.css" rel="stylesheet"/>
</head>
<body onload="login()">
<!--头部-->

    <div class="main-wrap">
        <div class="wrapper">
            <div class="center-box">
                <input type="hidden" id="err_name" value="{{name}}" />
		        <input type="hidden" id="err_password" value="{{password}}" />

                <form action="" method="post">
                    {% csrf_token %}
                     <label class="txtin-box">
                        <input class="txtin" type="text" id="user_tel" name="user_tel" placeholder="手机" />
                     </label>

                    <label class="txtin-box">
                        <input class="txtin" type="password" name="password" placeholder="输入新密码" />
                    </label>
                    <label class="txtin-box">
                        <input class="txtin" type="password" name="repassword" placeholder="确认新密码" />
                    </label>

                    <input class="tj" type="submit" value="提&ensp;交" />
                </form>
            </div>
        </div>
    </div>
    <div class="login-footer">
        安徽XXX网络科技有限公司 版权所有 Copyright © 2016-2018   备案号：皖ICP备123456789
        <div class="authentication">
            <a href=""><img src="/static/user/uploads/35.jpg" alt="" /></a>
            <a href=""><img src="/static/user/uploads/36.jpg" alt="" /></a>
            <a href=""><img src="/static/user/uploads/37.jpg" alt="" /></a>
            <a href=""><img src="/static/user/uploads/38.jpg" alt="" /></a>
        </div>
    </div>
</body>
<script src="/static/user/js/jquery-s.js"></script>
<link rel="stylesheet" href="/static/js/icheck/style.css"/>
<script src="/static/user/js/icheck/icheck.min.js"></script>
<script src="/static/user/js/global.js"></script>
<script src="/static/user/js/message.js"></script>
<script>
     $('.check input').iCheck({
            checkboxClass: 'sty1-checkbox'
        });
</script>
<script type="text/javascript">
    function login(){
        err_name = $('#err_name').val()
        err_password = $('#err_password').val()
        if(err_name){
            alert(err_name)
        }else if(err_password){
            alert(err_password)
        }
    }
	</script>
</html>