<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>登陆</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="/static/user/css/iconfont/iconfont.css" rel="stylesheet"/>
    <link href="/static/user/css/common.css" rel="stylesheet"/>
    <link href="/static/user/css/login.css" rel="stylesheet"/>

</head>

<body  onload="login()">
<!--头部-->
    <div class="login-header">
        <div class="wrapper">
            <a href="" class="logo">
                <img src="/static/user/img/logo3.png" alt="" />
            </a>
            <div class="zp">
                <span class="ico"></span>
                <div>正品保障</div>
            </div>
        </div>
    </div>


    <div class="login-main-wrap">
        <div class="login-main wrapper">
            <div class="login-box">

		        <input type="hidden" id="err_name" value="{{name}}" />
		        <input type="hidden" id="err_password" value="{{password}}" />

                    <form action="" method="post">
                         {% csrf_token %}
                        <div class="box-hd">
                            <span class="tit">用户登录</span>
                            <a href="/loan/user_register/">注册新账号</a>
                        </div>
                        <label class="txtin-box">
                            <span class="ico user"></span>
                            <input class="txtin" type="text" name="username" placeholder="用户名/手机" />
                        </label>
                        <label class="txtin-box">
                            <span class="ico pwd"></span>
                            <input class="txtin" type="password" name="password" placeholder="密码" />
                        </label>
                        <div class="clearfix tool">
                            <a class="find" href="/loan/edit_password/">忘记密码？</a>
                        </div>
                        <input class="tj" type="submit" value="登&ensp;录" />
                    </form>
            </div>
        </div>
    </div>
    <div class="login-footer">
        安徽XXX网络科技有限公司 版权所有 Copyright © 2016-2018   备案号：皖ICP备123456789
        <div class="authentication">
            <a href=""><img src="/static/user/uploads/35.jpg" alt="" /></a>
            <a href=""><img src="/static/user/uploads/36.jpg" alt="" /></a>
            <a href=""><img src="/static/user/uploads/37.jpg" alt="" /></a>
            <a href=""><img src="/static/user/uploads/38.jpg" alt="" /></a>
        </div>
    </div>
</body>
<script src="/static/user/js/jquery-s.js"></script>
<link rel="stylesheet" href="/static/js/icheck/style.css"/>
<script src="/static/user/js/icheck/icheck.min.js"></script>
<script src="/static/user/js/global.js"></script>
<script>
    $('.check input').iCheck({
            checkboxClass: 'sty1-checkbox'
        });
</script>

<script type="text/javascript">
    function login(){
        err_name = $('#err_name').val()
        err_password = $('#err_password').val()
        if(err_name){
            alert(err_name)
        }else if(err_password){
            alert(err_password)
        }
    }
	</script>
</html>