{% extends 'my_base.html' %}

{% block title %}
    实名认证
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="uc-panel">
        <form id="true_info" enctype="multipart/form-data">
        <div class="uc-bigtit">个人信息</div>
        <div class="uc-panel-bd">
            <div class="account-info clearfix">
                <div class="col-headpic">
                    <div class="pic-wrap">
                        <div class="label">真实头像</div>
                        <div class="picbox">
                            <img src="/static/market/img/uc/headpic.jpg" alt="" id="my_avatar"/>
                        </div>
                        选择照片:<input type="file" id="true_avatar" name="true_avatar">
                    </div>
                </div>
                <div class="col-userinfo">
                    <div class="control-group">
                        <div class="hd">真实姓名：</div>
                        <div class="bd"><input class="ui-txtin" type="text" id="true_name" name="true_name" value="天使溜溜了" /></div>
                    </div>
                    <div class="control-group">
                        <div class="hd">身份证号：</div>
                        <div class="bd"><input class="ui-txtin" type="text" name="id_card" id="id_card" value="天使溜溜了" /></div>
                    </div>
                    <div class="control-group">
                        <div class="hd">性别：</div>
                        <div class="bd">
                            <label class="check"><input type="radio" name="sex" value="0" checked="checked" class="sex"/>男</label>
                            <label class="check ml25"><input type="radio" name="sex" value="1" class="sex"/>女</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="hd">电话：</div>
                        <div class="bd"><input class="ui-txtin" type="text" name="tel" id="tel" /></div>
                    </div>
                    <div class="control-group">
                        <div class="hd">所在地：</div>
                        <div class="bd">
                            <input type="text" name="address" class="ui-txtin" id="address">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="hd">详细地址：</div>
                        <div class="bd"><input class="ui-txtin" type="text" name="more_address" id="more_address" /></div>
                    </div>
                    <div class="control-group">
                        <div class="hd">邮箱：</div>
                        <div class="bd">
                            <input type="text" name="email" class="ui-txtin" id="email">
                        </div>
                    </div>
                    <div class="control-submit">
                        <input class="ui-btn-theme submit" type="submit" id="button" value="确认"/>
                    </div>
                </div>
            </div>

        </div>
        </form>
    </div>
{% endblock %}

{% block extScript %}
    <script src="/static/market/js/my/true_my.js"></script>
{% endblock %}