{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>订单列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="{% static 'admin/style/adminStyle.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'admin/js/jquery.js' %}"></script>
    <script src="{% static 'admin/js/public.js' %}"></script>
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
</head>
<body>
<div class="wrap">
    <div class="page-title">
        <span class="modular fl"><i class="order"></i><em>订单列表</em></span>
    </div>
    <div class="operate">
        <form>
            <div>
                <div style="margin: 10px">
                    <label for="">客户单号:</label>
                    <input type="text" class="textBox length-long " placeholder="输入订单编号"/>

                    <label for="">客户名称:</label>
                    <input type="text" class="textBox length-long " placeholder="输入客户名称"/>
                </div>

                <div style="margin: 10px">
                    <label for="">身份证号:</label>
                    <input type="text" class="textBox length-long " placeholder="输入身份证号"/>

                    <label for="">订单日期:</label>
                    <input type="text" class="textBox length-long" id="datepicker" placeholder="日期"/>
                </div>

                <div style="margin: 10px">
                    <label for="">处理状态:</label>
                    <select class="inline-select textBox length-long">
                        <option>未处理</option>
                        <option>已处理</option>
                    </select>
                    <label for="">贷款项目:</label>
                    <select class="inline-select textBox length-long">
                        <option>POS贷</option>
                        <option>现金贷</option>
                    </select>
                    <div style="margin-right: 20px;margin-top: 10px;">
                        <input type="button" value="查询" class="tdBtn"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <table class="list-style Interlaced">
        <tr>
            <th>申请编号</th>
            <th>客户名称</th>
            <th>联系方式</th>
            <th>身份证号码</th>
            <th>逾期开始日期</th>
            <th>逾期天数</th>
            <th>还款金额</th>
            <th>滞纳金</th>
            <th>总金额</th>
            <th>处理人</th>
            <th>处理状态</th>
            <th>处理时间</th>
            <th>操作</th>
        </tr>
        <tr>
            <td>
                <input type="checkbox"/>
                <span>2015041803225</span>
            </td>
            <td class="center">
                <span class="block">DeatGhost</span>
            </td>
            <td width="200" style="text-align:center">
                <span class="block">18309275673</span>
            </td>
            <td class="center">
                <span>650103199898987654</span>
            </td>
            <td class="center">
                <span>2018-5-7</span>
            </td>
            <td class="center">
                <span>5天</span>
            </td>
            <td class="center">
                <span>567.3</span>
            </td>
            <td class="center">
                <span>30</span>
            </td>
            <td class="center">
                <span>597.3</span>
            </td>
            <td class="center">
                <span>张三</span>
            </td>
            <td class="center">
                <span>已处理</span>
            </td>
            <td class="center">
                <span>2018-8-2</span>
            </td>
            <td class="center">
                <a href="{% url 'huankuan:order_detail' %}" class="inline-block" title="查看案件"><img
                        src="/static/admin/images/icon_view.gif"/></a>
                <a class="inline-block" title="删除订单"><img src="/static/admin/images/icon_trash.gif"/></a>
            </td>
        </tr>
    </table>
    <!-- BatchOperation -->
    <div style="overflow:hidden;">
        <!-- Operation -->
        <div class="BatchOperation fl">
            <input type="checkbox" id="del"/>
            <label for="del" class="btnStyle middle">全选</label>
            <input type="button" value="打印订单" class="btnStyle"/>
            <input type="button" value="配货" class="btnStyle"/>
            <input type="button" value="删除订单" class="btnStyle"/>
        </div>
        <!-- turn page -->
        <div class="turnPage center fr">
            <a>第一页</a>
            <a>1</a>
            <a>最后一页</a>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        $("#datepicker").datepicker({
            showOtherMonths: true,
            selectOtherMonths: true
        });
    });
</script>

</html>